# Dependencias
node_modules/
*/node_modules/

# Builds
dist/
*/dist/
target/
*/target/

# Angular cache
.angular/
*/.angular/

# IDE
.vscode/
.idea/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
*.env